<a href="https://colab.research.google.com/github/ReginaMoreno/TallerHC/blob/main/clase3oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
   break

apple
banana

In [ ]:
#imprimir los números del 1 al 10
for x in range(11):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#sumaa de los primeros 50 números naurales.
suma = 0
for i in range (1,51):
  suma = suma + i
print(suma)

1275

In [ ]:
suma = 0
i = 1
while i < 51:
 suma = suma + i
 i= i + 1
print(suma)

1275

In [ ]:
#factorial de un númer0
factorial = 1
for i in range (1,6):
 factorial = i*factorial
print(factorial)

120

In [ ]:
#números pares del 1 al 100
for i in range (101):
 if (i%2)==0:
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
frutas = ["manzana", "pera", "mango"]
frutas[1]= "banana"
print(frutas)

['manzana', 'banana', 'mango']

In [ ]:
frutas = ["manzana", "pera", "mango"]
frutas[1]

'pera'

In [ ]:
frutas = ["manzana", "pera", "mango"]
frutas.append("uva")
print(frutas)

['manzana', 'pera', 'mango', 'uva']

In [ ]:
for fruta in frutas:
 print(fruta)

manzana
pera
mango
uva

In [ ]:
if "pera" in frutas:
  print("si, la pera esta en la lista.")

si, la pera esta en la lista.

In [ ]:
if "fresa" in frutas:
  print("si, la fresa esta en la lista.")

In [ ]:
#suma de elementos
suma = 0
numeros = [1,2,3,4,5]
for num in numeros:
 suma = suma + i
 print(suma)

100
200
300
400
500