<a href="https://colab.research.google.com/github/ReginaMoreno/TallerHC/blob/main/Clase10oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
thisdict = {
    "Brand":"Ford",
    "Model":"Mustang",
    "Year":1964,
    "Year":2020
}

print (thisdict)

{'Brand': 'Ford', 'Model': 'Mustang', 'Year': 2020}

In [18]:
diccionario = {"python":2.7,"zope":2.13,"plone":5.7}
l=[]
for i in diccionario.keys():
   print(i)
   l.append(diccionario[i])

print(l)

python
zope
plone
[2.7, 2.13, 5.7]

In [4]:
import pandas as pd

#crear un diccionario con datos
datos = {
    "Nombre": ["Juan", "María", "Pedro", "Luisa"],
    "Edad": [25, 28, 22, 30],
    "Ciudad": [ "Madrid", "Barcelona", "Valencia", "Sevilla"]
    }

#crear un dataframe a partir del diccionario
dataframe = pd.DataFrame(datos)

#mostrar el dataframe
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [2]:
#crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [6]:
frutas = ("fresa", "mango", "sandía")
for fruta in frutas:
  print(fruta)

fresa
mango
sandía

In [15]:
def mi_funcion():
   print("hola, te saludo desde la función")

In [17]:
mi_funcion()

hola, te saludo desde la función

In [20]:
def mi_funcion_nueva(fname):
  print("Hola "+fname+" te saludo desde la función")

mi_funcion_nueva("Regina")

Hola Regina te saludo desde la función

In [25]:
def Nombre(fname,lname):
  print("Hola "+fname+" "+lname+" te saludo desde la función")

Nombre("Regina","MH")

Hola Regina MH te saludo desde la función

In [34]:
def mi_funcion(*kids):
  print("El niño menor es " + kids[2])

mi_funcion("Emil", "Tobias", "Linus")

El niño menor es Linus

In [37]:
def mi_funcion(pais="México"):
  print("Yo soy de "+ pais)

mi_funcion()

Yo soy de México

In [38]:
mi_funcion("Alemania")

Yo soy de Alemania

In [57]:
A=[2,3,4,5,6]
B=[7,8,9,2,4]


def sum_vec(A,B):

  if len(A)==len(B):
    n=len(A)
    C=n*[0.0]
    for i in range(n):
      C[i]=A[i]+B[i]
    print(C)
  else:
    print("no se puede sumar")

sum_vec(A,B)

[9, 11, 13, 7, 10]

In [64]:
A=[8,9]
B=[7,6]

def pro_punt(A,B):
 if len(A)==len(B):
  n=len(A)
  C=n*[0.0]
  for i in range (n):
    C[i]=A[i]*B[i]
  print(C)
 else:
  print("no se puede sumar")

pro_punt(A,B)

[56, 54]